In [2]:
# LIST

# Creating a List
a=[5,7, 'Tuesday']
b= list('Monday')

In [3]:
print("The elements of a is :",a)
print("The elements of b is :",b)

The elements of a is : [5, 7, 'Tuesday']
The elements of b is : ['M', 'o', 'n', 'd', 'a', 'y']

In [4]:
c=[] # Empty List
d=list() # Empty List
e='' # Empty String

In [6]:
print("c is :",c,"d is : ",d,"e is:",e)
print("c is :",c)
print("d is : ",d)
print("e is:",e)

c is : [] d is :  [] e is:
c is : []
d is :  []
e is:

In [7]:
# Type(x) => Returns the data type / data structure of the x
type(e)

str

In [8]:
# b= list('Monday')
x='Monday'
b=list(x)

In [9]:
print("X is of type:",type(x))
print("b is of type:",type(b))

X is of type: <class 'str'>
b is of type: <class 'list'>

In [10]:
b

['M', 'o', 'n', 'd', 'a', 'y']

In [11]:
b[0]

'M'

In [12]:
b[0:5]

['M', 'o', 'n', 'd', 'a']

In [ ]:
# Append
# Adds the given value to the end of the list
# Syntax : Variable.append(x)

In [13]:
a

[5, 7, 'Tuesday']

In [14]:
a.append('Hi')
print("The elements of the list a is :",a)

The elements of a is : [5, 7, 'Tuesday', 'Hi']

In [15]:
a.append(78.98)
print("The elements of the list a is :",a)

The elements of a is : [5, 7, 'Tuesday', 'Hi', 78.98]

In [ ]:
# insert(ind,value)
# Insert() adds the given value at given index

In [16]:
# add 56.65 at 2nd position
a.insert(2,56.65)
print("The elements of the list a is :",a)

The elements of a is : [5, 7, 56.65, 'Tuesday', 'Hi', 78.98]

In [17]:
# Add 'Today' at 5th position
a.insert(5,'Today')
print("The elements of the list a is :",a)

The elements of the list a is : [5, 7, 56.65, 'Tuesday', 'Hi', 'Today', 78.98]

In [18]:
# Add 'Today' at 500th position, it will go to the last position
a.insert(500,'Today')
print("The elements of the list a is :",a)

The elements of the list a is : [5, 7, 56.65, 'Tuesday', 'Hi', 'Today', 78.98, 'Today']

In [ ]:
# extend()
# Adds the elements of given list to the current list
# Syntax : List_1.extend(List_2)
# Adds the element of list_2 to list_1

In [19]:
a

[5, 7, 56.65, 'Tuesday', 'Hi', 'Today', 78.98, 'Today']

In [22]:
b=['Red','Blue','Green']
b

['Red', 'Blue', 'Green']

In [23]:
a.extend(b)
print("The elements of a after extend operation is :",a)

The elements of a after extend operation is : [5, 7, 56.65, 'Tuesday', 'Hi', 'Today', 78.98, 'Today', 'Red', 'Blue', 'Green']

In [24]:
print(b)

['Red', 'Blue', 'Green']

In [30]:
# Slicing / Indexing
# Get the elements from 2nd position to 6th position
print("The elements from 2nd to 6th:",a[2:6])
# Get all the elements starting from 5th position
print("The elements from 5th:",a[5:])
# Get all the elements till the 3rd position
print("The elements till 3rd:",a[:3])
# Get the last but one element of the list
print("the last but one element of the list is:",a[-2])

The elements from 2nd to 6th: [56.65, 'Tuesday', 'Hi', 'Today']
The elements from 5th: ['Today', 78.98, 'Today', 'Red', 'Blue', 'Green']
The elements till 3rd: [5, 7, 56.65]
the last but one element of the list is: Blue

In [26]:
a[2:6]

[56.65, 'Tuesday', 'Hi', 'Today']

In [32]:
# index(x) => returns the index position of the given value from the list

ind_res=a.index('Tuesday')
print("the element Tuesday is at the index :",ind_res)

the element Tuesday is at the index : 3

In [33]:
a

[5, 7, 56.65, 'Tuesday', 'Hi', 'Today', 78.98, 'Today', 'Red', 'Blue', 'Green']

In [36]:
a.index('Today')

5

In [37]:
# count(x) => returns the number of times a given value is present in the list
a

[5, 7, 56.65, 'Tuesday', 'Hi', 'Today', 78.98, 'Today', 'Red', 'Blue', 'Green']

In [38]:
a.count(7)

1

In [41]:
a.count('Today')

2

In [42]:
# pop()
# By default,pop() removes the last element of list & returns the element
# a.pop(index) remove the element at the index position
a

[5, 7, 56.65, 'Tuesday', 'Hi', 'Today', 78.98, 'Today', 'Red', 'Blue', 'Green']

In [43]:
a.pop()

'Green'

In [44]:
a

[5, 7, 56.65, 'Tuesday', 'Hi', 'Today', 78.98, 'Today', 'Red', 'Blue']

In [45]:
a.pop(2)

56.65

In [46]:
a

[5, 7, 'Tuesday', 'Hi', 'Today', 78.98, 'Today', 'Red', 'Blue']

In [ ]:
# remove(x) => removes the value x from the list

In [47]:
a.remove(5)

In [48]:
a

[7, 'Tuesday', 'Hi', 'Today', 78.98, 'Today', 'Red', 'Blue']

In [49]:
a.remove('Today')

In [50]:
a

[7, 'Tuesday', 'Hi', 78.98, 'Today', 'Red', 'Blue']

In [51]:
# id()
# id gives the memory location of the variable
id(a)

2417983839552

In [52]:
a.clear()

In [53]:
a

[]

In [54]:
print(a)

[]

In [55]:
# clear() ==> Removes all the element from the list, but the list still exists in the memory.
id(a)

2417983839552

In [ ]:
# del => delete the entire variable/object

In [56]:
b

['Red', 'Blue', 'Green']

In [57]:
del b

In [58]:
b

NameError: name 'b' is not defined

In [59]:
id(b)

NameError: name 'b' is not defined

In [61]:
a=['Red','Green',234,89.986]

In [62]:
b=a.copy()

In [63]:
print("The elements of a is:",a)
print("The elements of b is:",b)

The elements of a is: ['Red', 'Green', 234, 89.986]
The elements of b is: ['Red', 'Green', 234, 89.986]

In [64]:
a.clear()

In [65]:
print("The elements of a is:",a)
print("The elements of b is:",b)

The elements of a is: []
The elements of b is: ['Red', 'Green', 234, 89.986]

In [74]:
listn=[8,5,7,8,4]; # Global variable
def removal(a,x):
    print("The value of a is :",a,"and x is :",x)
    list1=a
    if x in a:  # list1: local variable
        list1.remove(x)
    return a


res=removal(listn,8)
print(res)

The value of a is : [8, 5, 7, 8, 4] and x is : 8
[5, 7, 8, 4]

In [75]:
list1

[5, 7, 4]

In [76]:
listn

[5, 7, 8, 4]

In [ ]:
# input() => This is used to get the input directly from the user
# That input is always taken as string data type.

In [77]:
a=input("Enter a number:")

Enter a number:89

In [78]:
a

'89'

In [ ]:
# sort() => This is used to sort the list elements.
# The sorting is done on the original list itself.
# Does not return any output.

In [81]:
a = [40,23,10,6,34]
b = [40,23,10,6,34]

In [82]:
a.sort()

In [83]:
print("The values of a is:",a)

The values of a is: [6, 10, 23, 34, 40]

In [84]:
# sorted(list_name)
# returns the sorted result
# The original list is not changed
b=sorted(b)

In [85]:
b

[6, 10, 23, 34, 40]

In [86]:
# reverse()
print("The elements of b is:",b)

The elements of b is: [6, 10, 23, 34, 40]

In [87]:
b.reverse()

In [88]:
print("The elements of b after reverse is:",b)

The elements of b after reverse is: [40, 34, 23, 10, 6]

In [89]:
b.reverse()
print("The elements of b after reverse is:",b)

The elements of b after reverse is: [6, 10, 23, 34, 40]

In [ ]:
# in
# in is used to check if any element is present in a list
# returns boolean / bool : true or false
#                           1       0

In [90]:
a

[6, 10, 23, 34, 40]

In [91]:
10 in a

True

In [92]:
89 in a

False

In [ ]:
# not in
# in is used to check if any given element is not present in a list
# returns boolean / bool : true or false
#                           1       0

In [93]:
10 not in a

False

In [ ]:
# enumerate
# for variable_name in iterable:
#    print(variable_name)

In [94]:
a

[6, 10, 23, 34, 40]

In [95]:
for x in a:
    print(x+10)

16
20
33
44
50

In [98]:
for ind, x in enumerate(a):
    print(x+10)

16
20
33
44
50

In [99]:

# create a list of squares
# output should like [4,9,16,36]

# Hints:
# 1.Take an empty list to capture the result
# 2. Start a for loop with a
# 3. Inside the loop, calculate the square
# 4. Store the result in a new list
# 5. Outside the for loop, print the new list to check the result

In [103]:
a = [2,3,4,6,5] #input list
output = [] #output list
for x in a:
    sq_res=x*x
    output.append(sq_res)
    
print("The squares is:",output)

The squares is: [4, 9, 16, 36, 25]

In [ ]:
# len（） => length
# Counts the total number of elements inside a str, list, tuple
# returns the total number of elements
# Syntax: len(variable)

In [104]:
len(a)

5

In [105]:
len('Hello')

5

In [ ]:
# Strings

In [110]:
str1 = 'Hello'
# startswith(x)
# Returns boolean / bool: True or False
str1.startswith('H')

True

In [111]:
# endswith(x)
str1.endswith('H')

False