In [1]:
import sys

sys.executable

'E:\\Program\\Anaconda3\\python.exe'

In [ ]:
# Some more operation on list
# 1D [x,y,z]
# Nested Lists => [x,y,z,[1,,2,a,c],89] 2D List
#              => [x,y,z,[1,2,[89,88],3,4],'red','blue'] 3D List
# String 
# Operators => Mathematical Operations, Assignment Operators, Logical Operators, in, not in
# Tuple

In [ ]:
# range()

In [ ]:
# In the range of 1 to 100, get me all the even numbers
# a=[1,2,3,4,5,.......,99,100]

In [ ]:
# range() ==> Gives a range of numbers
# case 1: range(10) ==> Gives a range of numbers from 0 to 9

In [4]:
a=list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7]

In [8]:
# case 2: range(3,10) ==> Gives a range of numbers from 3 to 9
b=list(range(3,10))
print(b)
print(f'The range of (3,10) is {b}') # f strings
print(f"The range of (3,10) is {b}") 
print("The range of (3,10) is ",b)

[3, 4, 5, 6, 7, 8, 9]
The range of (3,10) is [3, 4, 5, 6, 7, 8, 9]
The range of (3,10) is [3, 4, 5, 6, 7, 8, 9]
The range of (3,10) is  [3, 4, 5, 6, 7, 8, 9]

In [11]:
# case 3: range(3,10,2) ==> Gives a range of numbers from 3 to 9 with a step 2
c=list(range(3,10,2))
print(f'The range of (3,10,2) is {c}')
print("The range of (3,10,2) is ",c)

The range of (3,10,2) is [3, 5, 7, 9]
The range of (3,10,2) is  [3, 5, 7, 9]

In [12]:
list(range(3,10,4))

[3, 7]

In [ ]:
# Strings
# split() =>Splits the string into multiple pieces based on the separator

In [14]:
str1="Hi how are you doing today?"
split_res=str1.split()
print(f"The split result is {split_res}")

The split result is ['Hi', 'how', 'are', 'you', 'doing', 'today?']

In [15]:
str2 = "The date is 2022-11-18 and time is 06:57:00"
split_res2=str2.split("-")
print(f"The split result is {split_res2}")

The split result is ['The date is 2022', '11', '18 and time is 06:57:00']

In [16]:
# Question:
# Split the string on the basis of ":"
split_res2=str2.split(":")
print(f"The split result is {split_res2}")

The split result is ['The date is 2022-11-18 and time is 06', '57', '00']

In [17]:
type(split_res2)

list

In [18]:
# Syntax: " ".join(split_res2)
join_res=" ".join(split_res2)
print(f'the join result is : {join_res}')

the join result is : The date is 2022-11-18 and time is 06 57 00

In [19]:
join_res="*# ".join(split_res2)
print(f'the join result is : {join_res}')

the join result is : The date is 2022-11-18 and time is 06*# 57*# 00

In [20]:
# List: Nested List
a = [ 'red', 'blue', [10, 'lion', 'orange'], 90.06, 222]

In [21]:
a[1]

'blue'

In [27]:
# Try to get / print just 10
# Try to get / print lion
#Try to get / print orange
# Try to get / print from 10 to orange
a[2][0]
a[2][1]
a[2][2]
a[2][:]

[10, 'lion', 'orange']

In [32]:
b = ['red',  ['lion', 'tiger','fox',[200,240,50]],'blue','green']
# Get the weight of the tiger
b[1] #Gives the element that corresponds to anumals & its weights
b[1][3] #Gives all the weights
b[1][3][1] # Get the weight of tiger


print(b[1][3][1])
# Get the weight of fox
print(b[1][3][2])

240
50

In [1]:
print("Hello Python interpreter!")

Hello Python interpreter!