In [ ]:
# Functions

In [1]:
2+3

5

# Functions Declaration
def function_name(arguments):
    body of function
    return variable_name or value

#Calling a function
function_name(arguments)

In [3]:
# Function to add 2 numbers

def add_2_numbers(val1,val2):
    
    res=val1+val2
    return res

# Calling the function
add_res=add_2_numbers(3,4)
print(f"The result is:{add_res}")

The result is:7

In [ ]:
## Raw string or document string

In [5]:
# Function to add 2 numbers
def add_2_numbers(val1,val2):
    '''
    This function is built to add 2 numbers
    Parameters:
    argument 1 => val1 : int
    argument 2 => val2 : int
    
    returns
    return res : int
    '''
    res=val1+val2
    return res

In [4]:
add_2_numbers.__doc__

In [6]:
add_2_numbers?

In [ ]:
## Return

In [15]:
# Write a function to give the absolute value of an integer

def absolute(val):
    if val>0:
        return val
        
    else:
        return abs(val)
    
    
abs_res=absolute(-9)

print(f"The absolute result is :{abs_res}")

The value of the x is :9

In [18]:
abs_res=absolute(5)

print(f"The absolute result is :{abs_res}")

The value of the val is :5
The absolute result is :5

In [19]:
## Ex 1
## Write a function to concatenate 2 strings

str1 = 'hi'
str2 = 'hello'

def concatenate(str1,str2):
    res=str1+" "+str2
    return res

print(concatenate(str1,str2))

hi hello

In [21]:
# Ex 2
# Write a function to get the remainder of the number after dividing by 5

def dividingBy5(val):
    res=val%5
    return res

print(dividingBy5(13))

3

In [22]:
# Write a function to get the remainder of the number after dividing by a given number
def dividingBy5(val1,val2):
    res=val1%val2
    return res

print(dividingBy5(13,2))

1

In [ ]:
## Scope of the variable

In [26]:
def my_fun():
    x=10 #local variable
    print(f"The vlaue of x inside the function is :{x}")
x=20 # global variables
my_fun()
print(f"The vlaue of x outside the function is :{x}")

The vlaue of x inside the function is :10
The vlaue of x outside the function is :20

In [31]:
#Global variable inside the function
def my_fun():
    global x
    x=10 #local variable
    print(f"The vlaue of x inside the function is :{x}")
x=20 # global variables
my_fun()
print(f"The vlaue of x outside the function is :{x}")

The vlaue of x inside the function is :10
The vlaue of x outside the function is :10

In [32]:
# Ex 3
# Write a function to calculate the total price of the product including the tax

def totalPrice(price, rate):
    totalPrice=price*(1+rate)
    return totalPrice

print(totalPrice(100,0.3))

130.0

In [ ]:
# Arguments
# 1. Positional Arguments
# 2. Default Arguments

In [34]:
# Default Arguments
def totalPrice(price, rate=0.3):
    totalPrice=price*(1+rate)
    return totalPrice

print(totalPrice(100)) 
print(totalPrice(100,0.24))

130.0
124.0

In [51]:
# Default Arguments
def totalPrice(price,tax=0.3):
    print(f"The value of price is: {price}")
    print(f"The value of tax rate is: {tax}")
    total=price+price*tax
    return total

total_price=totalPrice(100)
print(f"The total price of the product is:{total_price}")

The value of price is: 100
The value of tax rate is: 0.3
The total price of the product is:130.0

In [ ]:
# 3. Key word arguments

In [36]:
def origin(name,country):
    print(f"{name} is from  {country}")
origin('steve','Canada')

steve is from  Canada

In [37]:
origin('Canada','steve')

Canada is from  steve

In [40]:
origin(country='Canada',name='Steve')

Steve is from  Canada

In [52]:
origin(name='Steve',country='Canada')

Steve is from  Canada

In [ ]:
# 4. *args=>Variable Args / Variable Number of Arguments / Arbitary Args
# 5. **kwargs => Variable key word args / Variable Number of key word Arguments / Arbitary KW Args
# Lambda,Map,Filter

In [56]:
def add_numbers(a,b):
    
    
    return a+b

add_numbers(10,15)

25

In [57]:
def add_numbers(a,b,c,d,e):
    
    
    return a+b

add_numbers(10,15)

TypeError: add_numbers() missing 3 required positional arguments: 'c', 'd', and 'e'

In [62]:
def add_numbers(*args):
    
    
    print(f"The type of args is : {type(args)}") # data type of the args
    print(f"The value of args is : {args}")# value type of the args
    res=0
    
    for i in args:
        res+=i
        
    return res

add_numbers()

The type of args is : <class 'tuple'>
The value of args is : ()

0

In [63]:
add_numbers(2,4)

The type of args is : <class 'tuple'>
The value of args is : (2, 4)

6

In [64]:
add_numbers(10,20,30,40)

The type of args is : <class 'tuple'>
The value of args is : (10, 20, 30, 40)

100

In [ ]:
## Positional Arguments and *args

In [67]:
def add_numbers(a,b,*args):
    
    print(f"The value of a is : {a} and b is {b}") 
    print(f"The type of args is : {type(args)}") # data type of the args
    print(f"The value of args is : {args}")# value type of the args
    res=a+b
    
    for i in args:
        res+=i
        
    return res

add_numbers(4,5,6,7,8,9,10)

The value of a is : 4 and b is 5
The type of args is : <class 'tuple'>
The value of args is : (6, 7, 8, 9, 10)

49

In [ ]:
## **kwargs
# variable number of key word arguments

In [69]:
def greet(**kwargs):
    #message=''
    print(f"The data type of kwargs is {type(kwargs)}")
    print(f"The value of args is {kwargs}")
   # for  k,v in kwargs.items():
          
greet(name='steve',country='Australia',greet='hi')

The data type of kwargs is <class 'dict'>
The value of args is {'name': 'steve', 'country': 'Australia', 'greet': 'hi'}

In [70]:
greet()

The data type of kwargs is <class 'dict'>
The value of args is {}

In [71]:
greet(greet='welcome')

The data type of kwargs is <class 'dict'>
The value of args is {'greet': 'welcome'}

In [77]:
def test_args(a,b,*args,**kwargs):
    
    print(f"The data type of args is {type(args)}")
    print(f"The value of args is {args}")
   
    print(f"The data type of kwargs is {type(kwargs)}")
    print(f"The value of kwargs is {kwargs}")
   # for  k,v in kwargs.items():

In [78]:
test_args(10,20,30) # a 10,b 20, args 30

test_args(10,20,30,40,50) # a 10,b 20, args (30 40 50)

#test_args() # Error

test_args('hi','hello','how','are','you',name='steve',country='Australia',greet='hi') 
# a hi, b hello, arg (how are you),kwargs{name:steve,country:australia,greet:hi}

The data type of args is <class 'tuple'>
The value of args is (30,)
The data type of kwargs is <class 'dict'>
The value of kwargs is {}
The data type of args is <class 'tuple'>
The value of args is (30, 40, 50)
The data type of kwargs is <class 'dict'>
The value of kwargs is {}
The data type of args is <class 'tuple'>
The value of args is ('how', 'are', 'you')
The data type of kwargs is <class 'dict'>
The value of kwargs is {'name': 'steve', 'country': 'Australia', 'greet': 'hi'}

# Lambda
# Properties
    Anonymous Function
    pass "n" number of arguments to the lambda function
    returns only one single value

In [ ]:
# Syntax
# lambda_name=lambda arguments : Expression / Logic
## Calling a lambda function
# lambda_name()

In [79]:
# Scenario 1: with no arguments
greet=lambda:'Hi, welcome the BI Sessions'
greet()

'Hi, welcome the BI Sessions'

In [81]:
# Scenario 2: with a single argument
# Write a lambda function to calculate the length of given string

str_len=lambda x: len(x)
res=str_len('hello how are you')
print("The length of the string is :",res)

The length of the string is : 17

In [82]:
str_lower=lambda x: x.lower()
res=str_lower('Hello How are you')
print("The lower case of the string is :",res)

The lower case of the string is : hello how are you

In [83]:
# Scenario 3
# Add 2 strings

str_concat=lambda x,y : x+' '+y
str_concat('Hi','Spencer')

'Hi Spencer'

In [ ]:
# MAP
# Syntax
# map(function, iterable)
# iterable=list, tuple, string, dictionary, set

In [85]:
def add_10(x):
    return x+10

In [86]:
# Add 10 to a list of numbers
numbers_list=[2,3,4,5,6]
res=map(add_10,numbers_list)
print("The end result is:",res)

The end result is: <map object at 0x00000244777D4460>

In [87]:
list(res)

[12, 13, 14, 15, 16]

In [88]:
# map with lambda function
list(map(lambda x: x+10,numbers_list))

[12, 13, 14, 15, 16]

In [90]:
# Exercise:
# Write a map function to calc length of strings

words=['red','yellow','blue']

# Calculate the length of each string using map and lambda
str_len=list(map(lambda x:len(x),words))
print(str_len)

[3, 6, 4]

In [ ]:
# Filter
# filter(function,iterable) #[2,false,3,5] => [2,3,5]

In [93]:
# Cal the even numbers from a list of numbers
numbers=[2,7,8,9]
evens=list(filter(lambda x: x%2==0,numbers))
evens

[2, 8]

In [95]:
# Get all the strings whose length is >3
words=['red','yellow','blue']

res=list(filter(lambda x:len(x)>3,words))
res

['yellow', 'blue']