List Comprehension

In [ ]:


#[EXPRESSION FOR ITEM IN ITERABLE]
#ITEM: AN ITEM FROM THE ITERABLE
#EXPRESSION: CAN BE ANY EXPRESSION  & IS EVALUATED ONCE FOR EACH ITEM             
# AN ITERABLE OBJECT(e.g. LIST, TUPLE, ETC)

In [ ]:
# Properties of List Comprehension
Create a list
Modify a list
Filtering a list

In [1]:
# List of squares
numbers=[4,5,6]
squ=[digit **2 for digit in numbers]
print(squ)

[16, 25, 36]

In [6]:
# Ex: Adding 10 to evry value in the list
list1=list(range(10,25))
result=[num +10 for num in list1]
print(list1,"\n",result)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
 [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]

In [7]:
# Convert the weights from kg to pound
# 1KG=2.2Pound
# Method 1
weight_kg=[1.0,3.5,4.2]
weight_pound=[x*2.2 for x in weight_kg]
print(weight_kg,"\n",weight_pound)

[1.0, 3.5, 4.2]
 [2.2, 7.700000000000001, 9.240000000000002]

In [10]:
# Methods 2
weight_kg=[1.0,3.5,4.2]
weight_pound=[]
for x in weight_kg:
    res = x*2.2
    weight_pound.append(res)
print(weight_pound)

[2.2, 7.700000000000001, 9.240000000000002]

for loop
    for loop
        if clause
            for loop

In [ ]:
# LIST comprehension - IF Clause

In [ ]:
# Syntax
# [expression   for item in iterable   if condition]

In [11]:
# Get the even nubers from the list of numbers
numbers=[4,5,6]
even=[x for x in numbers if x%2==0]
print(even)

[4, 6]

In [12]:
# Ex: Get the element starting with 'e' into a new list
list2=['app','pencil','elephant','egg']
# method 1
res=[item for item in list2 if item[0]=='e']
print(res)

['elephant', 'egg']

In [13]:
# method 2
res=[item for item in list2 if item.startswith('e')]
res

['elephant', 'egg']

In [15]:
# LIST Comprehension - If Else Claust
# [True_expression if condition else Else_Expression for item in iterable]
# Get the even or add from the list of numbers
numbers=[4,5,6]
res=['Even' if item%2==0 else 'odd' for item in numbers]
res

['Even', 'odd', 'Even']

In [17]:
# Ex : Replace names that has special characters with the word "Invalid name"
# list3 = ['Steve', 'Ram', '$%^$Harry']
# Exp Out ['Steve', 'Ram', 'Invalid name']

list3 = ['Steve', 'Ram', '$%^$Harry']
res=[name if name.isalpha() else 'Invalid name' for name in list3]
res

['Steve', 'Ram', 'Invalid name']

In [ ]:
# And condition in If statement

In [22]:
# Get all the numbers divisible by 5 and 8 from 1 to 100
# And condition
numbers=list(range(1,101))
res=[num for num in numbers if num%5==0 and num%8==0 ]
print(res)

# Or condition in If statement
res=[num for num in numbers if num%5==0 or num%8==0 ]
print (res)

[40, 80]
[5, 8, 10, 15, 16, 20, 24, 25, 30, 32, 35, 40, 45, 48, 50, 55, 56, 60, 64, 65, 70, 72, 75, 80, 85, 88, 90, 95, 96, 100]

In [23]:
# Dictionary Comprehension
# {k:v for var in iterable}

In [25]:
# Get the dictionary of squares
numbers=[4,5,6]
sq_dict={k:k**2 for k in numbers}
sq_dict

{4: 16, 5: 25, 6: 36}

In [27]:
# ex: Get the length of each word.
words=['red','blue','yellow']
# words_lens={'red':3,'blue':4,'yellow':6}
words_lens={word:len(word) for word in words}
words_lens

{'red': 3, 'blue': 4, 'yellow': 6}

In [35]:
# Convert the weights from kg to pounds

old_weights={
    'book':0.5,
    'milk':2,
    'tv':7
}

new_weights={k:v*2.2 for k,v in old_weights.items()}
print(new_weights)

new_weights1={k:v*2.2 for k,v in old_weights.items()}
print(new_weights1)

{'book': 1.1, 'milk': 4.4, 'tv': 15.400000000000002}
{'book': 1.1, 'milk': 4.4, 'tv': 15.400000000000002}

In [41]:
# IF Clause in Dict Comprehension

ages={'kevin':12,'marcus':9,'evan':31,'nik':31}
# Ex: 1 Get all the people whose age is <25

res={k:v for k,v in ages.items() if v<25}
print(res)

# Get all people whose age is an even number and age <25
res={k:v for k,v in ages.items() if v<25 and v%2==0}
print(res)

{'kevin': 12, 'marcus': 9}
{'kevin': 12}